h1 {
  text-align: center;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.background {
  background-image: linear-gradient(white, #4a4a4a);
  height: 6000px
}

.topSpace {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px
}

.topBar1 {
  font-family: Arial, Helvetica, sans-serif;
  position: sticky;
  top: 0;
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
  display: inline-block;
  width: 1350px;
}

.topBar2 {
  font-family: Arial, Helvetica, sans-serif;
  position: sticky;
  top: 0;
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
  display: inline-block;
  width: 200px;
}

.imageBorder {
  margin-top: 150px;
  height: 791px;
  width: 1024px;
}

.imageBorder2 {
  margin-top: 150px;
  width: 800px;
  height: 700px;
}

.P1 {
  margin-top: 150px;
  margin-left: 1100px;
  text-align: center;
  height: 791px;
  width: 564px;
  background-image: linear-gradient(#974212, #e5c38c, #6c8c3c);
}

.P2 {
  margin-top: 160px;
  margin-right: 1100px;
  text-align: center;
  height: 791px;
  background-image: linear-gradient(#88a1c3, #9c4438, #455067);
}

.P3 {
  margin-top: 160px;
  margin-left: 1100px;
  text-align: center;
  height: 791px;
  background-image: linear-gradient(#4d170b, #b37e1a, #5a4420);
}

.P4 {
  margin-top: 160px;
  margin-right: 1100px;
  text-align: center;
  height: 791px;
  background-image: linear-gradient(#337558, #92a965, #9c9320);
}

.P5 {
  margin-top: 160px;
  margin-left: 1100px;
  text-align: center;
  height: 791px;
  background-image: linear-gradient(#983338, #d2a834, #1797b5);
}

.foot {
  margin-top: 130px;
  background-color: #a1a1a1;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 16px;
  color: black;
}

.flash {
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: 500;
}

@keyframes example {
  0% {
    background-color: #a1a1a1;
  }

  25% {
    background-color: yellow;
  }

  50% {
    background-color: #a1a1a1;
  }

  75% {
    background-color: yellow;
  }

  100% {
    background-color: #a1a1a1;
  }
}
